<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}URL Repository{% endblock %}</title>
    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" /> 
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="css/tab.css" type="text/css" />
    <link type="text/css" rel="stylesheet" href="/css/jquery.treeview.css" media="screen" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/jquery.treeview.min.js"></script> 
	{% block head %}{% endblock %}
</head>
<body {% block body_attr %}{% endblock %}>
	<div class="container">
	    <div class="span-24" style="margin-top: 20px;">
            <div class="span-22">
                <h1>URL Repo</h1>
            </div>
            <div class="span-2 last">
                {% if user %}
                <a href="{{ logout_url }}"><b>Logout</b></a>
                {% else %}
                <a href="{{ login_url }}"><b>Login</b></a>
                {% endif %}
            </div>
            {% block menu %}{% endblock %}
        </div>	
        {% block content %}
        <div class="span-24">Page Content</div>
        {% endblock %}
        <div class="span-24">
            <hr />
            <div class="span-20">
                <a href="mailto:shilin.he@gmail.com"><b>::: Contact :::</b></a>
            </div>
            <div class="span-4 last">
                <img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"
                    alt="Powered by Google App Engine" />
            </div>
        </div>	      
	</div>	
</body>
</html>
