{% extends "base.html" %}

{% block title %}Manage Bookmarks{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(function() {
            $("#btnDelAll").click(function() {
                if (confirm("Are you sure you want to delete all your bookmarks?")) {
                    return true;
                } else {
                    return false;
                }    
            });        
        });
    </script>
{% endblock %}

{% block body_attr %}id="tab2"{% endblock %}

{% block menu %}{% include "menu.html" %}{% endblock %}

{% block content %}
<div class="span-24">
    <form action="/import" method="post" 
        enctype="multipart/form-data">
        <fieldset>
            <legend>Import Bookmarks</legend>
            <p>
                <b>The following file formats are supported:</b>
                <ul>
                    <li>Netscape bookmark format (.htm file)</li>
                    <li>Firefox bookmarks backup file (.json file)</li>
                </ul>
                <input type="file" id="datafile" name="datafile" />
                <input type="submit" value="Import" />
            </p>
            {% if err_msg %}
            <div class="error">
                <ul>
                    {% for err in err_msg %}
                    <li>{{ err }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </fieldset>
    </form>
    <fieldset>
        <legend>Export Bookmarks</legend>
        <ul>
            <li>
                <a href="export_html">
                    Export to Netscape bookmark format file (.htm)
                </a>
            </li>
            <li>
                <a href="/export_json">
                    Export to Firefox bookmarks backup file (.json)
                </a>
            </li>
        </ul>
    </fieldset>

    <form action="/del_all" method="post">
        <p>
            <input type="submit" id="btnDelAll" value="Delete All Bookmarks" />
        </p>
    </form>
</div>
{% endblock %}
